######################################################
# This virtual host contains the configuration
# for the ISPConfig apps vhost
######################################################

 Listen 8081
# NameVirtualHost *:8081

<VirtualHost _default_:8081>
  ServerAdmin webmaster@localhost
  
  
  <FilesMatch "\.ph(p3?|tml)$">
    SetHandler None
  </FilesMatch>
  
  <IfModule mod_headers.c>
	RequestHeader unset Proxy early
  </IfModule>
  
  <IfModule mod_php5.c>
    DocumentRoot /var/www/apps
    AddType application/x-httpd-php .php
    <Directory /var/www/apps>
		Options FollowSymLinks
		AllowOverride None
				Require all granted
		    </Directory>
  </IfModule>
  
  <IfModule mod_php7.c>
    DocumentRoot /var/www/apps
    AddType application/x-httpd-php .php
    <Directory /var/www/apps>
		Options FollowSymLinks
		AllowOverride None
				Require all granted
		    </Directory>
  </IfModule>
  
  <IfModule mod_fcgid.c>
    DocumentRoot /var/www/apps
    SuexecUserGroup ispapps ispapps
    <Directory /var/www/apps>
		Options +Indexes +FollowSymLinks +MultiViews +ExecCGI
		AllowOverride AuthConfig Indexes Limit Options FileInfo
	    <FilesMatch "\.php$">
		  SetHandler fcgid-script
	    </FilesMatch>
		FCGIWrapper /var/www/php-fcgi-scripts/apps/.php-fcgi-starter .php
				Require all granted
		    </Directory>
  </IfModule>

</VirtualHost>


