<%- include("partials/head"); -%>
<%- include("partials/headNav"); -%>

<section class="gradient pt-24 pb-12">
    <div class="container mx-auto px-4">
        <div class="-mx-4 flex flex-col lg:flex-row items-center">
            <div class="px-4 w-full lg:w-3/12">
                <img class="w-1/2 lg:w-3/4 mx-auto mb-4" style="margin-top: 80px;"
                    src="img/footerEnlaces/privacidad.svg" />
            </div>
            <div class="px-4 w-full lg:w-9/12 xl:w-7/12 text-center lg:text-left">
                <h1 class="mb-4 text-5xl font-extrabold leading-tight text-white">Política de privacidad
                </h1>
                <p class="text-white text-xl">LUDIBA GROUP se compromete a proteger la privacidad de aquellos que visitan el sitio web de ludiba.org y/o usan sus servicios.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mx-auto px-4">
        <div class="-mx-4 flex justify-center">
            <div class="px-4 lg:w-8/12">
                <div class="bg-white -mt-6 mb-12 rounded shadow">
                    <div class="py-16 px-12 text-justify">
                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">1. General</h2>
                            <p class="mb-4">Nuestra política de privacidad ("Política") describe cómo LUDIBA GROUPS y sus compañías relacionadas ("Compañía") siguen todos los requisitos legales para proteger la privacidad de los usuarios de este sitio web, https://www.LUDIBA.ORG (el "Sitio"). Esta Política también se aplica a cualquiera de nuestros otros sitios web que publican esta Política. Esta Política no se aplica a los sitios web que publican declaraciones diferentes.
                                
                            </p>
                        </article>
                        
                            <hr class="border-b my-10">
                            <article>
                                <p class="text-right mb-4">
                                    <em><strong>Última actualización:</strong> 27 Marzo 2020</em>
                                </p>
                            </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer"); -%>