<%- include("partials/head"); -%>
<%- include("partials/headNav"); -%>

<section class="gradient pt-24 pb-12">
    <div class="container mx-auto px-4">
        <div class="-mx-4 flex flex-col lg:flex-row items-center">
            <div class="px-4 w-full lg:w-3/12">
                <img class="w-1/2 lg:w-3/4 mx-auto mb-4" style="margin-top: 80px;"
                    src="img/footerEnlaces/terminos.svg" />
            </div>
            <div class="px-4 w-full lg:w-9/12 xl:w-7/12 text-center lg:text-left">
                <h1 class="mb-4 text-5xl font-extrabold leading-tight text-white">Términos de servicio
                </h1>
                <p class="text-white text-xl">La siguiente página actúa como un contrato entre usted y LUDIBA GROUP.
                                         Incluyendo los servicios descritos en www.ludiba.org.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mx-auto px-4">
        <div class="-mx-4 flex justify-center">
            <div class="px-4 lg:w-8/12">
                <div class="bg-white -mt-6 mb-12 rounded shadow">
                    <div class="py-16 px-12 text-justify">
                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">1. General</h2>
                            <p class="mb-4">Bienvenido al sitio web / servicio LUDIBA GROUP, operado por Luis Dieguez Barrio (en este Acuerdo, "Luis", "nosotros", "nos" o "nuestro").</p>

                            <p class="mb-4">La siguiente página actúa como un contrato entre usted y Luis, colectivamente referidos como las "partes".</p>

                            <p class="mb-4">Al acceder, navegar y usar el Sitio y sus servicios ("Servicios"), usted acepta, sin limitación o calificación, estos Términos y Condiciones. Si no desea estar sujeto a estos Términos y condiciones, no debe acceder al Sitio ni utilizar sus Servicios.</p>
                            <p class="mb-4"> Si ingresa a estos Términos en nombre de una compañía, organización u otra entidad legal (una "Entidad"), acepta estos Términos para esa Entidad y nos declara que tiene la autoridad para vincular a dicha Entidad y sus Afiliadas a estos Términos, en cuyo caso los términos "Usted", "Su" o los términos en mayúscula relacionados utilizados en este documento se referirán a dicha Entidad y sus Afiliados. Si no tiene dicha autoridad, o si no está de acuerdo con estos Términos, No debe aceptar estos Términos y no puede acceder ni utilizar los Servicios o Sitios web.</p>


                            <p class="mb-4">Al utilizar los Servicios o el Sitio, usted, como individuo, declara y garantiza que tiene 18 (dieciocho) años de edad o más y que acepta y acepta cumplir con todos los términos y condiciones de este Acuerdo.</p>

                        </article>
                        <hr class="border-b my-10">
                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">2. ACCESO AL SERVICIO(S)</h2>

                            <p class="mb-4">2.1 Es posible que no pueda acceder o utilizar los Servicios (a) durante el <b>tiempo de inactividad planificado</b> para las actualizaciones y el mantenimiento de los Servicios (de los cuales haremos todos los esfuerzos comercialmente razonables para notificarle por adelantado a través de nuestros Servicios) )) (" Tiempo de inactividad planificado"), O (b) durante cualquier falta de disponibilidad causada por circunstancias más allá de nuestro control razonable, tales como, entre otros, actos de Dios, actos de gobierno, actos de terror o disturbios civiles, fallas técnicas más allá de nuestro control razonable (incluyendo, sin limitación, incapacidad para acceder a Internet) o actos realizados por terceros, incluidos, entre otros, ataques de denegación de servicio distribuidos.</p>

                            <p class="mb-4">2.2 Haremos esfuerzos comercialmente razonables para programar el tiempo de inactividad planificado para los fines de semana (zona horaria estándar de la Europa - Madrid) y otras horas de menor actividad.</p>
                        </article>
                        <hr class="border-b my-10">
                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">3. CAMBIOS AL SERVICIO(S), SITIO WEB(S) Y PRECIOS
                            </h2>

                            <p class="mb-4">3.1 <strong>Nuestro(s) Servicio (s): </strong> Podemos actualizar el servicio(s) de vez en cuando y Usted puede recibir notificaciones de tales actualizaciones, mejoras o actualizaciones ("Actualizaciones"). Cualquier característica nueva o modificada agregada o que aumente o modifique los Servicios u otras actualizaciones, modificaciones o mejoras a los Servicios también está sujeta a estos Términos y nos reservamos el derecho de implementar Actualizaciones en cualquier momento.
                            </p>

                            <p class="mb-4">3.2 <strong>Sitios web:</strong> también podemos cambiar el contenido de nuestros sitios web en cualquier momento. Sin embargo, tenga en cuenta que cualquiera de los contenidos en Nuestros sitios web puede estar desactualizado en cualquier momento dado, y no tenemos la obligación de actualizarlo. Para mayor claridad, esta subsección se refiere a Nuestros sitios web, excluyendo los Servicios. Podemos descontinuar o cambiar cualquier parte de Nuestros sitios web que no afecte los Servicios sin notificárselo.
                            </p>
                            <p class="mb-4">3.3 <strong>Precios:</strong> los precios de todos los Servicios están sujetos a cambios con 30 días de anticipación. Dicha notificación se puede proporcionar en cualquier momento publicando los cambios en el sitio de LUDIBA GROUP o en el Servicio en sí.</p>
                        </article>
                        <hr class="border-b my-10">
                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">4. DERECHOS DE PROPIEDAD INTELECTUAL</h2>


                            <p class="mb-4">4.1&nbsp;<strong>Propiedad de los DPI:</strong>a  excepción de los derechos que se le otorgan en virtud de la Sección 1, todos los derechos, títulos e intereses sobre todas nuestras patentes, invenciones, derechos de autor, marcas comerciales, nombres de dominio, secretos comerciales, know-how y cualquier otra propiedad intelectual y / o derechos de propiedad en o relacionados con el (los) Servicio (s), incluidos los Sitios web, y cualquier parte del mismo (colectivamente, "<strong>Derechos de propiedad intelectual</strong>") Pertenecerá y permanecerá exclusivamente con nosotros. Somos el propietario o el titular de la licencia de todos los Derechos de propiedad intelectual en nuestros sitios web y del contenido o material publicado en él. Esas obras están protegidas por leyes y tratados de derechos de autor en todo el mundo. No debe usar ninguna parte del contenido de nuestros sitios web con fines comerciales sin obtener una licencia para hacerlo de nosotros o de nuestros licenciantes. Además, no reclamamos derechos de propiedad intelectual sobre el contenido que cargue o proporcione a los Servicios.</p>

                            <p class="mb-4">4.2&nbsp;<strong>Cesión de licencia a nosotros:</strong> Tendremos una licencia libre de regalías, mundial, transferible, sublicenciable, irrevocable y perpetua para incorporar en el (los) Servicio (s) o Sitios web o utilizar cualquier sugerencia, solicitud de mejora, recomendación u otro comentario Recibimos de usted.</p>

                            <p class="mb-4">4.3&nbsp;<strong>Cesión de licencia para usted:</strong>nuestros nombres de productos y servicios, y logotipos utilizados o mostrados en los Servicios o Sitios web son nuestras marcas registradas o no registradas (colectivamente, "<strong>Marcas</strong>"), y usted solo puede usar dichas Marcas para identificarlo como usuario de los Servicios a los que se ha suscrito.</p>

                            <p class="mb-4">4.4&nbsp;<strong>Reserva de derechos:</strong> Todos los derechos que no se le otorgan expresamente en este documento están reservados.</p>

                        </article>
                        <hr class="border-b my-10">
                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">5. CONFIDENCIALIDAD</h2>

                            <p class="mb-4">5.1&nbsp;<strong>Obligaciones de confidencialidad:</strong> Cada uno de nosotros protegerá la Información confidencial del otro del uso no autorizado, el acceso o la divulgación de la misma manera que cada uno de nosotros protege nuestra propia Información confidencial y, en cualquier caso, no menos que un cuidado razonable. Salvo que se permita expresamente lo contrario de conformidad con estos Términos, cada uno de nosotros puede usar la Información confidencial del otro únicamente para ejercer nuestros derechos respectivos y cumplir con nuestras obligaciones respectivas en virtud de estos Términos y divulgará dicha Información confidencial únicamente a aquellos de nuestros respectivos empleados, representantes y agentes que necesiten conocer dicha información confidencial para tales fines y que estén obligados a mantener la confidencialidad y no utilizar indebidamente dicha información confidencial. Las disposiciones de esta subsección reemplazarán cualquier acuerdo de confidencialidad entre Usted y Nosotros que se haya firmado antes de estos Términos y que pretenden abordar la confidencialidad de los Datos del servicio y dicho acuerdo no tendrá más fuerza o efecto con respecto a los Datos del servicio .</p>
                        </article>
                        <hr class="border-b my-10">
                        <article>
                            <article>
                                <h2 class="text-3xl mb-3 uppercase text-left">6. PRIVACIDAD</h2>
                                <p class="mb-4">Su privacidad es muy importante para nosotros. Al aceptar estos Términos de uso, confirma que ha leído, entendido y aceptado inequívocamente nuestra <a class="lnk" href="/politica-privacidad">Política de privacidad</a>.</p>
                            </article>
                            <hr class="border-b my-10">
                            <article>
                                <h2 class="text-3xl mb-3 uppercase">7. CAMBIOS A ESTA POLÍTICA</h2>
                                <p class="mb-4">Podemos cambiar estos Términos de servicio. Si hacemos algún cambio, cambiaremos la fecha de "Última actualización" a continuación.</p>
                            </article>
                            <hr class="border-b my-10">
                            <article>
                                <p class="text-right mb-4">
                                    <em><strong>Última actualización:</strong> 27 Marzo 2020</em>
                                </p>
                            </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer"); -%>