<%- include("partials/head"); -%>
<%- include("partials/headNav"); -%>

<section class="gradient pt-24 pb-12">
    <div class="container mx-auto px-4">
        <div class="-mx-4 flex flex-col lg:flex-row items-center">
            <div class="px-4 w-full lg:w-3/12">
                <img class="w-1/2 lg:w-3/4 mx-auto mb-4" style="margin-top: 80px;" src="img/footerEnlaces/faq.svg" />
            </div>
            <div class="px-4 w-full lg:w-9/12 xl:w-7/12 text-center lg:text-left">
                <h1 class="mb-4 text-5xl font-extrabold leading-tight text-white">Preguntas frecuentes (FAQ)
                </h1>
                <p class="text-white text-xl">A continuación vamos a resolver las preguntas más frecuentes acerca de
                    nuestros servicios. Recuerde si tiene alguna otra duda puede realizarla mandando un mensaje desde la
                    <a class="lnk" href="/contacto">página de contacto</a>.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mx-auto px-4">
        <div class="-mx-4 flex justify-center">
            <div class="px-4 lg:w-8/12">
                <div class="bg-white -mt-6 mb-12 rounded shadow">
                    <div class="py-16 px-12 text-justify">
                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">1. ¿Es este servicio gratuito?</h2>
                            <p class="mb-4">Sí. Actualmente a fecha de revisión del 27 de Marzo de 2020 son gratuitos
                                los siguientes servicios.
                                <ul style="list-style-type: circle;">
                                    <li>Almacenamiento</li>
                                    <li>Bots</li>
                                    <li>Juegos</li>
                                    <li>Video</li>
                                    <li>Websites</li>
                                </ul>
                            </p>
                        </article>

                        <hr class="border-b my-10">

                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">2. ¿Tienen limitaciones?</h2>
                            <p class="mb-4">Sí. En cada página tiene la propia cobertura de limites.
                            </p>
                        </article>
                        <hr class="border-b my-10">

                        <article>
                            <h2 class="text-3xl mb-3 uppercase text-left">3. ¿Donde estan mis datos?</h2>
                            <p class="mb-4">El servicio corre en 2 localizaciones distintas. La página web esta almacenada en un hosting propio separado. Con localización en EEUU.
                            </p>
                            <p class="mb-4">El resto de servicios corren en el Google Cloud. Con localización en Europa.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer"); -%>